body,
#root,
#homepage {
    position: relative;
}

body,
#root {
    z-index: -99;
}

#homepage {
    /* background-color: #111111; */
    color: #333333;
    z-index: -98;
}

.benifits-item {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
    .benifits-item {
        transform: translateX(20px);
    }
    .benifits-item.active {
        transform: translateX(0);
    }
}

.benifits-item.active {
    opacity: 1;
    transform: translateY(0);
}

.boreder-benifits {
    position: relative;
    background-color: #333333;
    border-radius: 16px;
}

.boreder-benifits.darker {
    background-color: #0c1018;
}
