.benifits-item {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .benifits-item {
    transform: translateX(20px);
  }
  .benifits-item.active {
    transform: translateX(0);
  }
}

.benifits-item.active {
  opacity: 1;
  transform: translateY(0);
}