.benifits-item {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .benifits-item {
    transform: translateX(20px);
  }
  .benifits-item.active {
    transform: translateX(0);
  }
}

.benifits-item.active {
  opacity: 1;
  transform: translateY(0);
}

.boreder-benifits {
  position: relative;
  background-color: #111111;
  border-radius: 16px;
  // border: 1px solid transparent;
  z-index: -20;
  &.absolute {
    position: absolute;
  }
  &.z-50 {
    z-index: 50;
  }
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(135deg, #2622FF -50%, rgba(255,255,255,0.05) 50%, #7D1ED2 150%);
    z-index: -20;
    border-radius: 16px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #0C1018;
    z-index: -20;
    border-radius: 16px; /* Optional: to match the border radius */
  }
}