@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Instrument Sans", "Inter", sans-serif;
  --gradient2: linear-gradient(-45deg, #9b8aff 0%, #2806fa 100%);
  --gradient3: linear-gradient(135deg, #2806fa 0%, #a253fc 59%, #ffdbdb 100%);
  --black50: rgba(0, 0, 0, 0.5);
  --black20: rgba(0, 0, 0, 0.2);
}

.text-gradient3 {
  background: var(--gradient3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-gradient2 {
  background: var(--gradient2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.btn-gradient3 {
  background: var(--gradient3);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  /* inner shadow blur 16px  */
  box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.25);
  @apply flex items-center justify-center h-10 px-6 text-sm font-semibold;
  &:hover {
    background: #6640fc;
  }
  &.disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
}

.btn-default {
  @apply h-10 flex items-center justify-center px-6 rounded-lg cursor-pointer
    font-semibold text-sm text-neutral-900
    border border-solid border-black20;
  &:hover {
    @apply bg-black5;
  }
}
.btn-default.btn-small {
  @apply h-8 px-4 text-xs inline-flex;
}

.menu-colorful:hover {
  background: #4a22eb;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .menu-colorful {
    @apply h-16 w-full flex items-center justify-center text-base;
  }
}

.btn-colorful:hover,
.btn-colorful.active {
  background-color: rgba(108, 108, 108, 0.2);
  z-index: 10;
  &::before {
    content: "";
    @apply absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/4 w-[175%] h-[200%] blur-xl;
    background-color: #4a22eb;
    border-radius: 50%;
    z-index: -1;
  }
  &::after {
    content: "";
    @apply absolute bottom-0 left-0 translate-y-2/3 w-full h-3/4 blur-lg;
    background-color: #a244ff;
    border-radius: 50%;
    z-index: -1;
  }
  /* &:hover {
    &::before {
      width: 175%;
      height: 200%;
    }
    &::after {
      @apply w-full h-full translate-y-2/3;
    }
  } */
}

.btn-colorful.active:hover {
  &::before {
    background-color: #3911da;
  }
  &::after {
    background-color: #9133dd;
  }
}

.btn-main {
  @apply relative font-semibold text-white text-sm flex items-center justify-center rounded-xl overflow-hidden cursor-pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* inner shadow white 20%  16px */
  min-width: 160px;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 40px;
  background-color: #4c4c4c;
  &:hover {
    box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.2);
  }
}

.btn-main.btn-small {
  @apply text-xs w-24 md:w-28 h-12 rounded-xl;
}

.section-container {
  @apply px-5 py-12 md:py-0 overflow-hidden;
}

.section {
  @apply m-auto md:max-w-[90rem];
}

.section-container.p-none {
  @apply p-0;
}

.section-header {
  @apply font-bold text-3xl md:text-6xl mb-4 md:mb-12;
}
.section-header.leading-tight {
  line-height: 1.05;
}

.section-description {
  @apply text-xs md:text-base w-5/6 md:w-full md:max-w-[960px];
  /* color: rgba(255, 255, 255, 0.5); */
}

.bg-blur::after {
  /* blur 48px */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.95);
  filter: blur(2px);
  z-index: -10;
}

.highlights-item {
  transition: all;
  background: linear-gradient(-45deg, #160c87 -100%, rgba(102, 1, 170, 0.02) 60%);
}

.highlights-item:hover {
  background: linear-gradient(-80deg, #160c87 -50%, rgba(102, 1, 170, 0.02) 80%);
}

.fp-overflow:focus-visible {
  outline: none;
}

.fp-watermark {
  display: none !important;
}

.section .fp-auto-height {
  height: auto;
}
