@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Interphases Pro Trl Variable";
  src: url("https://db.onlinewebfonts.com/t/6d9402c12f3148dbede04bf00dfcfb4b.eot");
  src: url("https://db.onlinewebfonts.com/t/6d9402c12f3148dbede04bf00dfcfb4b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/6d9402c12f3148dbede04bf00dfcfb4b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/6d9402c12f3148dbede04bf00dfcfb4b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/6d9402c12f3148dbede04bf00dfcfb4b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/6d9402c12f3148dbede04bf00dfcfb4b.svg#TT Interphases Pro Trl Variable")format("svg");
}

:root {
  font-family: "TT Interphases Pro Trl Variable", "Inter", sans-serif;
  --black50: rgba(0, 0, 0, 0.5);
  --black20: rgba(0, 0, 0, 0.2);
}

.font-space-mono {
  font-family: "Space Mono", monospace;
}

.content-area {
  @apply h-full;
}

@media (min-width: 768px) {
  .content-area {
    @apply max-w-[1366px] px-8 mx-auto;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent;
}

.btn-blueToPink135 {
  @apply bg-blueToPink135 shadow-inset-white-16 text-white
    border-none rounded-lg cursor-pointer
    flex items-center justify-center 
    h-10 px-6 
    text-sm font-semibold
    hover:bg-none hover:bg-[#6600fc];
  &.disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

.btn-lightblue {
  @apply inline-block p-[15px] md:px-5 md:py-4 bg-primary text-white cursor-pointer rounded-lg font-space-mono hover:bg-primaryHover;
}

.btn-default {
  @apply h-10 flex items-center justify-center px-6 rounded-lg cursor-pointer
    font-semibold text-sm text-neutral-900
    border border-solid border-black20 hover:bg-black5;
  &.btn-small {
    @apply h-8 px-4 text-xs inline-flex;
  }
}

.btn-colorful:hover,
.btn-colorful.active {
  background-color: rgba(108, 108, 108, 0.2);
  z-index: 10;
  &::before {
    content: "";
    @apply absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/4 w-[175%] h-[200%] blur-xl;
    background-color: #4a22eb;
    border-radius: 50%;
    z-index: -1;
  }
  &::after {
    content: "";
    @apply absolute bottom-0 left-0 translate-y-2/3 w-full h-3/4 blur-lg;
    background-color: #a244ff;
    border-radius: 50%;
    z-index: -1;
  }
  &.active:hover {
    &::before {
      background-color: #3911da;
    }
    &::after {
      background-color: #9133dd;
    }
  }
}

.btn-main {
  @apply relative flex items-center justify-center
    min-w-40 h-10 px-8 rounded-xl
    bg-[#4c4c4c]
    font-semibold text-white text-sm
    overflow-hidden cursor-pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  &:hover {
    @apply shadow-inset-white-16;
  }
  &.btn-small {
    @apply text-xs w-24 md:w-28 h-12 rounded-xl;
  }
}

.btn-primary {
  @apply h-12 font-semibold text-white text-center leading-none px-8 py-4 rounded-lg cursor-pointer;
  background-color: #091dff;
  &:hover {
    background-color: rgba(9, 29, 255, 0.9);
  }
  &.btn-outline {
    @apply border border-solid border-gray21 text-gray21;
    background-color: transparent;
    &:hover {
      background-color: rgba(9, 29, 255, 0.1);
    }
  }
  &.warning {
    background-color: #f85931;
    &:hover {
      background-color: rgba(248, 89, 49, 0.9);
    }
  }
  &.disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
