.section {
  @apply relative;
}

.section-hero {
  @apply pt-[80px] md:pt-[120px] relative;
}

.features-item {
  @apply md:h-[700px] flex flex-col md:flex-row items-center;
}

.features-item-content {
  @apply md:w-1/2 pt-[30px] pb-[50px] px-[25px] md:p-20 z-20;
}

.features-item-title {
  @apply text-[30px] md:text-[60px] mb-[30px] md:mb-[60px] font-semibold md:font-normal leading-tight md:leading-none;
}

.features-item-desc {
  @apply text-base md:text-[22px] mb-[30px] leading-tight;
}

.polygon-box {
  position: relative;
  border-color: rgba(27, 27, 27, 0.6);
  border-width: 1px;
  border-style: solid;
  &::before {
    content: "";
    @apply absolute bottom-0 right-0 w-5 h-5 md:w-[32px] md:h-[32px] border-l-1 border-solid rotate-45 translate-x-[10px] translate-y-[10px] md:translate-x-[16px] md:translate-y-[16px] bg-white;
    border-color: rgba(27, 27, 27, 0.6);
  }
  &.blue {
    @apply text-white bg-[#3242F5] border-0;
    &::before {
      @apply border-0;
    }
  }
}

.section-partner-list {
  @apply flex flex-wrap justify-center items-center gap-[40px] md:gap-[60px];
}